<div class="container" id="home-container">
  <div class="jumbotron text-white">
    <h1 class="display-4">Welcome <%= current_user.full_name %></h1>
    <p class="lead">Finance tracker is an application that allows you to follow your favorite stocks!</p>
    <hr class="my-4">
    <p>Thanks to the IEX Cloud API you can follow the evolution of prices in direct time. Also, add your friends and track their stocks too!</p>
  </div>
</div>
