// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Specific CSS for your home-page
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #f5f7f6;
}

#sticky-footer {
  flex-shrink: none;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('stock-exchange.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  border-radius: 10px;
  margin: 60px 50px 50px 50px;
}
